<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948553954946-480cu3260uaud0m7n6uu9javl1o36l4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948553954946-480cu3260uaud0m7n6uu9javl1o36l4e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>948553954946-36k1fg7i4ch13hm5dfus7r74turi96v0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqCaNn1PTmp-NPvkA1Q8Z8YJ-7338cB08</string>
	<key>GCM_SENDER_ID</key>
	<string>948553954946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieBookingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>moviebookingapp-75525</string>
	<key>STORAGE_BUCKET</key>
	<string>moviebookingapp-75525.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948553954946:ios:99c0dd984e4e85a565669b</string>
	<key>DATABASE_URL</key>
	<string>https://moviebookingapp-75525-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>